@media screen and (min-width: 0px) and (max-width: 576px) {
  .sm-w {
    width: 60% !important;
  }

  .line-1,
  .line-2,
  .line-3,
  .line-4 {
    background: #fff !important;
  }

  .space-m {
    margin: 12px 0 !important;
  }

  .box-green {
    width: 300px !important;
    padding: 10px !important;
    top: 700px;    
    left: 20px;
    text-align: start !important;
  }

  .box-green h3 {
    font-size: 18px !important;
  }

  .box-green p {
    font-size: 18px !important;
  }


  .bg-img {
    width: 330px;
    right: 80%;
    bottom: -260px;
  }

  .p-abs{
    top: 150px;
    left: 0;
    z-index: -1;
  }

  .s4-heading{
    display: none;
  }


  .p-1 {
    display: none;
  }

  .p-2{
    display: none;
  }

  .p-3{
    width: 100%;
  }


  .s2-heading{
      border-radius: 40px;
      background: linear-gradient(#fff , #fff);
      width: 300px;
      height: 10px;
  }

  .s2-heading h3{
    font-size: 17px;
  }

  
  .s2-info {
    text-align: center;
  }

  .s2-info li {
    list-style-type: none;
    margin: 12px 0;
  }

  .s2-img{
    margin: auto;
  }

  .s2-btn{
    padding: 5px 25px;
    margin: 12px 0;
  }

  .s3-info {
    margin: 12px 0;
    text-align: center;
  }

  .s3-info li {
    list-style-type: none;
    margin: 12px 0;
  }

  .s3-img{
    margin: auto;
    width: 300px;
    height: 300px;
  }

  .s3-btn{
    padding: 5px 25px;
    margin: 12px 0;
  }

  .head{
    display: none;
  }

  .sec4{
    width: 50%;
    
  }

}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .sm-w {
    width: 50% !important;
  }

  .line-1,
  .line-2,
  .line-3,
  .line-4 {
    background: #fff !important;
  }

  .space-m {
    margin: 12px 0 !important;
  }

  .box-green {
    width: 100% !important;
    padding: 10px !important;
  }


  .box-green {
    width: 300px !important;
    padding: 10px !important;
    right: 60px;
    top: 150px;
    text-align: start !important;
  }

  .box-green h3 {
    font-size: 18px !important;
  }

  .box-green p {
    font-size: 18px !important;
  }


  .bg-img {
    right: 90%;
    bottom: -260px;
  }

  .s4-heading{
    display: none;
  } 

  .p-1 {
    display: none;
  }

  .s2-heading{
    display: none;
  }

}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .sm-w {
    width: 40% !important;
  }

  .s4-heading{
    display: block;
    text-align: center;
  }

  .p-1 {
    display: block;
  }

  .s2-heading{
    display: block;
    text-align: center;
  }
}
