@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.saira-semi-condensed-thin {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .saira-semi-condensed-extralight {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .saira-semi-condensed-light {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .saira-semi-condensed-regular {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .saira-semi-condensed-medium {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .saira-semi-condensed-semibold {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .saira-semi-condensed-bold {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .saira-semi-condensed-extrabold {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .saira-semi-condensed-black {
    font-family: "Saira Semi Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  

.logo img {
    width: 125px !important;
    height: 80px;
    padding-bottom: 6px;
}
.name {
    margin: 20px;
}
.menu ul li a {
    color: white !important;
    text-decoration: none;
}
.second {
    padding-left: 60px;
}
.icons i {
    font-size: 22px;
   padding: 10px 5px;
}
.icons {
    margin-bottom: 27px;
}
.info-icon i {
    font-size: 25px;
    margin: 12px;
}


   
    
     
